/* COLOR CODES
dark grey = RGB (51,50,55)
medium grey = #7D7C7F
light grey = #E4E4E4
 */

body{
	background: url("../images/52d51e81a5cbc09614afd6eb8920779d.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background-color:#7D7C7F;
	border-radius: 5px; 
	margin: 40px;
	padding: 40px;
	text-align: center;
}

header {
	color: darkred;
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 65px;
}

#imageHolder {
	color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 25px;
	padding: 20px 20px 0px 20px;
	margin: 40px 20px 20px 20px;
}
.text-left {
	color: #7D7C7F;
}
.responsive {
    width: 100%;
    height: auto;
}

#startBtn{
	background-color: #19264C;
	border-color: #19264C;
	color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 25px;
	padding: 20px;
	margin: 40px;
	border-radius: 5px; 
}

#timeRemaining {
	background-color:darkred;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 25px;
	color: white;
	padding: 20px;
	margin: 40px;
	border-radius: 5px; 
}

#questionHolder {
	background-color: #19264C;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 25px;
	color: white;
	padding: 20px;
	margin: 40px;
	border-radius: 5px; 
}

#currentQuestion {
	background-color:darkred;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 25px;
	color: white;
	padding: 20px;
	margin: 40px;
	border-radius: 5px; 
}

.thisChoice:hover{
	background-color:#7D7C7F;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 25px;
	color: #19264C;
	border-radius: 5px;
}

.btn-primary,.reset{
	background-color: #19264C;
	color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 30px;
	font-size: 30px;
	padding: 20px;
	margin-top: 60px;
}

.btn-primary:hover, .reset:hover{
	background-color: #19264C;
	font-family: 'M PLUS Rounded 1c', sans-serif; 	
	font-size: 30px;
}

#message, #finalMessage{
	color: #19264C;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 30px;
}



#jpg{
	margin-bottom: 30px;
} 

/* @media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}  */