body {
    color:rgb(4, 39, 39);
    background: url("../images/sasha-stories-320885-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: rgb(4, 39, 39);
    padding-bottom: 10px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

#myLetterCount {
    color: rgb(17, 143, 143);
}

.card {
    border-color: rgb(4, 39, 39);
}

.card-header {
    background-color:  rgb(4, 39, 39);
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    padding: 30px;
    justify-content: center;
}

.inside-header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px 0 40px;

}

#winCount {
    color: white;
    height: 90px;
    width: 115px;
    padding: 15px;
    background-color:  rgb(17, 143, 143);
    border-color: white;
    border-radius: 10% 25%; 
}

#lossCount {
    color: white;
    height: 90px;
    width: 115px;
    padding: 15px;
    background-color: orangered;
    border-color: white;
    border-radius: 25% 10%; 
}

.card-body {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Mystery Word */
#my-word {
    text-align: center;
    padding-bottom: 20px;
}
  
#my-word li {
    clear: both;
    position: relative;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
}

.alphabet-card {
    margin: 0 auto;
    padding:0 50px 20px 50px;
    position: relative;
    clear: both;
}
 /* Alphabet buttons */ 
#alphabet li {
    float:left;
    margin: 0 15px 15px 0;
    list-style:none;
    width:40px;
    height:40px;
    padding: 10px;
    background: rgb(17, 143, 143);
    color: white;
    cursor:pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 10%;
}

#alphabet li:hover{
    background: rgb(4, 39, 39);
}

#remaining-guesses {
    clear: both;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    height: 70px;
    margin: 0 auto;
    border: none;
}

/* Hint button */
#hint {
    clear: both;
    position: relative;
    margin: 0 auto; 
    padding-top: 13px;
    background-color: orangered;
    color: white;
}

.mother {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Clue */
#clue-card {
    clear: both;
    position: relative;
    margin: 0 auto; 
    border-color: white;
    color: orangered;
    width: 70%;
    justify-content: center;
    text-align: center;
}

#reset {
    clear: both;
    position: relative;
    margin: 0 auto; 
    background-color:rgb(4, 39, 39);
    border:rgb(4, 39, 39);
    color: white;
    width: 175px;
}

